@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pr-yellow: #fff159;
  --white: #fff;
  --pr-blue: #3583fa;
  --sr-blue: #2968c8;
  --tr-blue: #e5effb;
  --pr-green: #00a650;
  --pr-gray: #bfbfbf;
  --sr-gray: #00000080;
  --tr-gray: #ededed;

  $pr-yellow: var(--pr-yellow);
  $white: var(--white);
  $pr-blue: var(--pr-blue);
  $sr-blue: var(--sr-blue);
  $tr-blue: var(--tr-blue);
  $pr-green: var(--pr-green);
  $pr-gray: var(--pr-gray);
  $sr-gray: var(--sr-gray);
  $tr-gray: var(--tr-gray);
}

// @import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Monsterrat', -apple-system, Roboto, Arial, sans-serif,
    sans-serif;
}
